# Dependencies
**/node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
**/coverage/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
**/.env
**/.env.local
**/.env.*.local
*.pem

# Build outputs
**/dist/
**/.next/
**/out/
**/build/
*.tsbuildinfo

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db
**/.DS_Store
**/Thumbs.db

# IDEs
.vscode/
.idea/
**/.vscode/
**/.idea/

# Prisma
**/generated/prisma/
**/prisma/generated/
**/prisma/*.db
**/prisma/*.db-journal

# Next.js specific
**/next-env.d.ts

# Vercel
**/.vercel

certificates